<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<footer class="text-center mt-auto py-4 bg-light">
    <p>&copy; <span id="currentYear"></span> Link-Shortener. All rights reserved.</p>
</footer>

<script>
    // Dynamically update the year
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>

</html>